<h1><%= @user %>さんのフォロワー</h1>
<% if @users.present? %>
 <% @users.each do |user| %>
  <tr>
   <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
   <td><%= user.name %></td>
   <% if current_user != user %>
   <td><%= render 'relationships/btn', user: user %></td>
   <% end %>
  </tr>
 <% end %>
<% else %>
 <p>ユーザーはいません</p>
<% end %>