<div class="center-block">
 <h1 class="text-center mt-3">ようこそAnimalPicへ！</h1>
 <div class="pt-3">
  <h2 class="text-center"><%= link_to "投稿を見る", root_path %></div>
  <p class="text-center mb-0"><%= link_to "ログイン", new_user_session_path, class: "mr-3" %></p>
  <p class="text-center mt-0"><%= link_to "新規登録", new_user_registration_path, class: "mr-3" %></p>
 </div>
</div>