<!--animalpics-->
<div class = "container">
  <div class ="row no-gutters">
    <% @random.each do |post| %>
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.animalpics[0].variant(resize:'100x100').processed %>
      <% end %>
      <%= image_tag post.user.get_profile_image %>
      <%= post.user.name %>
     <% end %>
  </div>
</div>
