.slider_container {
  position: relative;
  float: left;
  max-width: 500px;
  padding: 0 15px;

 .slider {
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: flex-start; //画像の高さを統一させない
    justify-content: center;
    align-self: center;//左右の中央揃え
 }
}

